.add-page {
  margin: 50px 0;
}

.add-content {
  margin-left: auto;
  margin-right: auto;
}

.add-content input {
  width: 400px;
  height: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  caret-color: white;
}

.add-content input:focus {
  outline: none;
}
