.header {
  height: 60px;
  background-color: var(--primary-color);
  color: white;
}

.header h1 {
  line-height: 60px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.header nav {
  width: 250px;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header nav ul li .nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
}
