.card {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.card-poster {
  width: 100px;
  height: 120px;
}

.card-poster img {
  width: 100%;
  height: 100%;
}

.card-info {
  width: 250px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info h4 {
  margin: 0 0 5px;
}

.card-info span {
  color: grey;
}

.card-bottons {
  display: flex;
  width: 300px;
}
.btn-movie {
  font-size: 10px;
  margin-right: 5px;
  font-weight: bold;
}
