* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: rgb(7, 7, 68);
  --secondary-color: #21d07a;
  --text-color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn {
  background-color: var(--secondary-color);
  border: none;
  color: var(--text-color);
  padding: 8px 14px;
  font-size: 16px;
  border-radius: 4px;
  opacity: 0.9;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
}

.container {
  margin: 0 auto;
  padding: 0 20px; /*pour le mobile si on a pas definie le media query du telephone*/
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px; /*c'est faux de faire le width seulement ca nous affiche les choses en mode static*/
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
