body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*begin header*/
.header {
  height: 60px;
  background-color: rgb(7, 7, 68);
  color: white;
}

.header h1 {
  line-height: 60px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.header nav {
  width: 300px;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.add-item {
  background-color: #3db472;
  border: none;
  color: white;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.header .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/* end header */
